:host {
  display: block;
}

.eap-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eap-form-control--has-suffix {
  padding-right: 2.5rem;
}

.eap-input-suffix {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
}
